<%-include('partials/header') ;%>
<div class="container-fluid ">
    <%-include('partials/navbarhome') ;%>
</div>

<div class="container-fluid mt-2 mb-5">
    <h1 class="text-center mb-3 " style="font-size:70px;color:rgb(38, 22, 91)">Trade Analysis</h1>
    <hr>
        <!-- <p>Total profit: <%= trade_analysis.Totalprofit %></p> -->
      <!-- <div class="container py-5 border">
        <div class="row mt-4">
          <div class="col col-sm-4 col-md-4 col-lg-4">
            <div class="container bg-success py-3 text-center" style="color:aliceblue;height:100px ;width: 250px;">
              <h2>Total Profit</h2>
              <h4 class=""><%= trade_analysis.Totalprofit %></h4>
            </div>
          </div>
          <div class="col col-sm-4 col-md-4 col-lg-4">
            <div class="col col-sm-4 col-md-4 col-lg-4">
              <div class="container bg-success py-3 text-center" style="color:aliceblue;height:100px ;width: 250px;">
                <h2>Total Profit</h2>
                <h4 class=""><%= trade_analysis.Totalprofit %></h4>
              </div>
            </div>
          </div>
          <div class="col col-sm-4 col-md-4 col-lg-4">
            <div class="col col-sm-4 col-md-4 col-lg-4">
              <div class="container bg-success py-3 text-center" style="color:aliceblue;height:100px ;width: 250px;">
                <h2>Total Profit</h2>
                <h4 class=""><%= trade_analysis.Totalprofit %></h4>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col col-sm-4 col-md-4 col-lg-4">
            <div class="container bg-success py-3 text-center" style="color:aliceblue;height:100px ;width: 250px;">
              <h2>Total Profit</h2>
              <h4 class=""><%= trade_analysis.Totalprofit %></h4>
            </div>
          </div>
          <div class="col col-sm-4 col-md-4 col-lg-4">
            <div class="col col-sm-4 col-md-4 col-lg-4">
              <div class="container bg-success py-3 text-center" style="color:aliceblue;height:100px ;width: 250px;">
                <h2>Total Profit</h2>
                <h4 class=""><%= trade_analysis.Totalprofit %></h4>
              </div>
            </div>
          </div>
          <div class="col col-sm-4 col-md-4 col-lg-4">
            <div class="col col-sm-4 col-md-4 col-lg-4">
              <div class="container bg-success py-3 text-center" style="color:aliceblue;height:100px ;width: 250px;">
                <h2>Total Profit</h2>
                <h4 class=""><%= trade_analysis.Totalprofit %></h4>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col col-sm-4 col-md-4 col-lg-4">
            <div class="container bg-success py-3 text-center" style="color:aliceblue;height:100px ;width: 250px;">
              <h2>Total Profit</h2>
              <h4 class=""><%= trade_analysis.Totalprofit %></h4>
            </div>
          </div>
          <div class="col col-sm-4 col-md-4 col-lg-4">
            <div class="col col-sm-4 col-md-4 col-lg-4">
              <div class="container bg-success py-3 text-center" style="color:aliceblue;height:100px ;width: 250px;">
                <h2>Total Profit</h2>
                <h4 class=""><%= trade_analysis.Totalprofit %></h4>
              </div>
            </div>
          </div>
          <div class="col col-sm-4 col-md-4 col-lg-4">
            <div class="col col-sm-4 col-md-4 col-lg-4">
              <div class="container bg-success py-3 text-center" style="color:aliceblue;height:100px ;width: 250px;">
                <h2>Total Profit</h2>
                <h4 class=""><%= trade_analysis.Totalprofit %></h4>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col col-sm-4 col-md-4 col-lg-4">
            <div class="container bg-success py-3 text-center" style="color:aliceblue;height:100px ;width: 250px;">
              <h2>Total Profit</h2>
              <h4 class=""><%= trade_analysis.Totalprofit %></h4>
            </div>
          </div>
          <div class="col col-sm-4 col-md-4 col-lg-4">
            <div class="col col-sm-4 col-md-4 col-lg-4">
              <div class="container bg-success py-3 text-center" style="color:aliceblue;height:100px ;width: 250px;">
                <h2>Total Profit</h2>
                <h4 class=""><%= trade_analysis.Totalprofit %></h4>
              </div>
            </div>
          </div>
          <div class="col col-sm-4 col-md-4 col-lg-4">
            <div class="col col-sm-4 col-md-4 col-lg-4">
              <div class="container bg-success py-3 text-center" style="color:aliceblue;height:100px ;width: 250px;">
                <h2>Total Profit</h2>
                <h4 class=""><%= trade_analysis.Totalprofit %></h4>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col col-sm-4 col-md-4 col-lg-4">
            <div class="container bg-success py-3 text-center" style="color:aliceblue;height:100px ;width: 250px;">
              <h2>Total Profit</h2>
              <h4 class=""><%= trade_analysis.Totalprofit %></h4>
            </div>
          </div>
          <div class="col col-sm-4 col-md-4 col-lg-4">
            <div class="col col-sm-4 col-md-4 col-lg-4">
              <div class="container bg-success py-3 text-center" style="color:aliceblue;height:100px ;width: 250px;">
                <h2>Total Profit</h2>
                <h4 class=""><%= trade_analysis.Totalprofit %></h4>
              </div>
            </div>
          </div>
          <div class="col col-sm-4 col-md-4 col-lg-4">
            <div class="col col-sm-4 col-md-4 col-lg-4">
              <div class="container bg-success py-3 text-center" style="color:aliceblue;height:100px ;width: 250px;">
                <h2>Total Profit</h2>
                <h4 class=""><%= trade_analysis.Totalprofit %></h4>
              </div>
            </div>
          </div>
        </div>
        
      </div> -->

      <table class="table21">
        <tr>
          <td class="td21 green">
            <div class="container ">
              <h4>Total Profit</h4>
              <h2 class=""><%= trade_analysis.Totalprofit %></h2>
            </div>
          </td>
          <td class="td21 yellow">
            <div class="container " >
              <h4>Total Loss</h4>
              <h2 class=""><%= trade_analysis.Totalloss %></h2>
            </div>
          </td>
          <td class="td21 orange">
            <div class="container " >
              <h4>Max Profit</h4>
              <h2 class=""><%= trade_analysis.MaxProfit %></h1>
            </div>
          </td>
          <td class="td21 red">
            <div class="container " >
              <h4>Max Drawdown</h4>
              <h2 class=""><%= trade_analysis.MaxLoss %></h2>
            </div>
          </td>
        </tr>
        <tr>
          <td class="td21 yellow">
            <div class="container " >
              <h4>Number of winning Trades</h4>
              <h2 class=""><%= trade_analysis.Number_of_Win_trades %></h2>
            </div>
          </td>
          <td class="td21 green">
            <div class="container " >
              <h4>Number of losing Trades</h4>
              <h2 class=""><%= trade_analysis.Number_of_Loss_trades%></h2>
            </div>
          </td>
          <td class="td21 red">
            <div class="container " >
              <h4>Average Winning Trade</h4>
              <h2 class=""><%= trade_analysis.Average_wining_trade %></h2>
            </div>
          </td>
          <td class="td21 orange">
            <div class="container " >
              <h4>Average Losing Trade</h4>
              <h2 class=""><%= trade_analysis.Average_lossing_trade %></h2>
            </div>
          </td>
        </tr>
        <tr>
          <td class="td21 orange">
            <div class="container " >
              <h4>Return on Investment</h4>
              <h2 class=""><%= trade_analysis.ROI %></h2>
            </div>
          </td>
          <td class="td21 red">
            <div class="container " >
              <h4>Total Trades</h4>
              <h2 class=""><%= trade_analysis.TotalTrades %></h2>
            </div>
          </td>
          <td class="td21 green">
            <div class="container " >
              <h4>Batting Average</h4>
              <h2 class=""><%= trade_analysis.BattingAverage %></h2>
            </div>
          </td>
          <td class="td21 yellow">
            <div class="container " >
              <h4>Profit Factor</h4>
              <h2 class=""><%= trade_analysis.ProfitFactor %></h2>
            </div>
          </td>
        </tr>
        <tr>
          <td class="td21 red">
            <div class="container " >
              <h4>Recovery Factor</h4>
              <h2 class=""><%= trade_analysis.RecoveryFactor %></h2>
            </div>
          </td>
          <td class="td21 orange">
            <div class="container " >
              <h4>Best Day to Trade</h4>
              <h2 class=""><%= trade_analysis. BestProfitablDayToTrade %></h2>
            </div>
          </td>
          <td class="td21 red">
            <div class="container " >
              <h4>Profitable  Entry time </h4>
              <h2 class=""><%= trade_analysis.BestProfitablEntryTime %></h2>
            </div>
          </td>
          <td class="td21 green >
            <div class="container " >
              <h4>Best Performed Strategy</h4>
              <h2 class=""><%= trade_analysis.BestProfitablStrategy %></h2>
            </div>
          </td>
        </tr>
      </table>
    
    
    
    
    
    
      </div>

   




<footer>
<div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2023 Copyright:
    <a class="text-reset fw-bold" href="/">TradeLog</a>
  </div>
</footer>